<div class="input"><input [(ngModel)]="searchTerm" class="search-input" placeholder="Rechercher un pays"
    (input)="onSearch()">
</div>
<!-- La barre de recherche pour rechercher des pays 
On fais un for pour afficher tout les pays récupérer via l'API -->
<ul class="country-list">
  <li *ngFor="let country of filteredCountries">
    <div class="country-card">
      <div class="country-header">
        <img [src]="country.flags.png" alt="Drapeau de {{ country.name.common }}" width="30">
        <h3>{{ country.name.common }}</h3>
      </div>
      <div class="country-details">
        <p>Region: {{ country.region }}</p>
        <p>Capital: {{ country.capital }}</p>
      </div>
      <a class="details-link" [routerLink]="['/country', country.cca3]">Détails</a>
    </div>
  </li>
</ul>