/* home.component.css */
.home-container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url('../../assets/carte.jpeg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #f0f5f9;
    color: #2c3e50;
    border-radius: 8px;
}

header h1 {
    font-size: 36px;
}
header h3 {
    margin-top: -10px;
    font-size: 20px;
}
header p {
    margin-top: -16px;
    font-size: 16px;
    color: #555;
}

nav {
    background-color: #3498db;
    color: #2c3e50;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.features article {
    width: 300px;
    margin-bottom: 20px;
    background-color: #dfe6e9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.4);
}

.features h2 {
    color: #3498db;
}

.features p {
    color: #555;
}

.features img {
    width: 230px;
    height: 140px;
    border-radius: 20px;
}

.features button {
    background-color: #3498db;
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 20px;
    border: #3498db 2px solid;
    margin: 8px;
    cursor: pointer;
    font-weight: bold;

}

.features button:hover {
    color: #3498db;
    background-color: white;
    transition: background-color 0.8s, color 0.8s;
    border: #3498db 2px solid;
}

button {
    margin: 20px 0;
}


footer {
    margin-top: 40px;
    color: #888;
}

article:hover {
    transform: scale(1.04);
    transition: transform 0.5s ease-in-out;
}

article{
    transition: transform 0.5s ease-in-out;
}