<nav>
  <a routerLink="/" routerLinkActive="active">Accueil</a>
  <a routerLink="/countries-list" routerLinkActive="active">Liste des Pays</a>
  <a routerLink="/region" routerLinkActive="active">Pays par Région</a>
  <a routerLink="/autre" routerLinkActive="active">Capitales</a>
</nav>

<h1>Voici toutes les capitales du monde</h1>
<h4>Cliquez sur une capitale pour découvrir plus d'information</h4>
<ul class="country-list">
  <li *ngFor="let country of filteredCountries" class="country-item">
    <ng-container *ngIf="country.capital">
      <a class="details-link" [routerLink]="['/country', country.cca3]">{{ country.capital }}</a>
    </ng-container>
  </li>
</ul>
